.place-order {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 50px;
    margin-top: 40px;
}
.place-order-left{
    width: 100px;
    max-width: max(30%, 500px);
}
.place-order-left .title{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
}
.place-order-left input{
    margin-bottom: 15px;
    width: 400%;
    padding: 8px;
    border: 1px solid #c5c5c5;
    border-radius: 4px;
    outline: tomato;
}
.place-order-left .multi-fields{
    width: 400%;
    display: flex;
    gap: 10px;
}
.place-order-right {
    margin-top: 40px;
    width: 50%;
    max-width: max(30%, 400px);
}
.place-order-right .checkout-button {
    margin-top: 30px;
}